.container {
    width: 300px;
    /* Largura maior */
    /* margin: 0 auto; */
    /* Centraliza o container na página */
}
#total{
    width: 20vh;
    background-color: rgba(247, 214, 26, 0.781)
}
.aling-total{
    width: 100%;
    display: flex;
    justify-content: center;
}
.item {
    cursor: pointer;
    padding: 8px;
    background-color: var(--secondary-color);
    color: white;
    border: none;
    border-radius: 50%;
    transition: transform 0.3s;
    width: 4px;
    /* Largura menor */

}

.item.selected {
    background-color: rgba(247, 214, 26, 0.781);
    transform: translateX(15px);
    /* Ajusta a quantidade de movimento */
}
.color-fnd{
    margin: 5px;
    width: 30px;
    height: 12px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: rgba(199, 199, 235, 0.705);
}
.opcao1 {
    display: flex;
    justify-content: space-between;
}
.concluir-ped {
    display: flex;
    height: 10vh;
    justify-content: center;
    align-items: center;
}
#cart{
    height: 80vh;
}
.grid-two {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    height: 100%;
}
.opcionais-grid{
    width: 100%;
}
.opcao1 p{
    font-size: 1.4rem;
}
::-webkit-scrollbar {
    width: 2px; /* Largura da barra de rolagem */
    height: 50px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #e70202; /* Cor de fundo do polegar */
    border-radius: 100%; /* Raio da borda do polegar */
  }
@media (max-width: 800px){
    .menu-content {
        margin-top: 5vh;
        height: 5vh;
        display: flex;
    }
}