.intro-content {
    position: relative;
    /* top: -6rem; */
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: var(--gap);
    min-height: 100vh;

}

.intro-text-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.intro-img {
    display: flex;
    flex-direction: column;
}

.intro-img img {
    max-width: 100%;
    height: auto;
}

.top3-content {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    min-height: 100vh;
    justify-content: center;
    text-align: center;
}

.grid-one-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    min-height: 100vh;
    max-width: 120rem;
}

.grid-main-heading {
    margin-bottom: 1rem;
}

.grid-description {
    padding-bottom: 5rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
    counter-reset: grid-counter;
}

.grid h3 {
    font-size: 3rem;
    position: relative;
    padding-left: 5rem;
    padding-bottom: 2rem;
}

.grid h3::before {
    counter-increment: grid-counter;
    content: counter(grid-counter);
    position: absolute;
    font-size: 8rem;
    font-style: italic;
    top: -4rem;
    left: -2rem;
    transform: rotate(5deg);
}

.grid img {
    background-size: cover;
    width: 30rem;
    height: 16rem;
}

.gallery-img {
    width: 100%;
    max-width: 36rem;
    max-height: 36rem;
    overflow: hidden;
}

.gallery-img img {
    transition: all 300ms ease-in-out;
}

.gallery-img img:hover {
    transform: translate(-3%, 3%) scale(1.2) rotate(5deg);
}

.contact-form {
    grid-column: span 2;


}

.form-grid legend {
    font-style: italic;
    font-size: 1.6rem;
    margin-bottom: 3rem;
}

.contact-form .form-grid {
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap);
}

.form-group {
    flex: 1 1 320px;
}

.form-group label {
    display: block;
    margin-bottom: 1rem;
}

.form-group input,
.form-group textarea {
    border: none;
    background: var(--white-color);
    padding: 1.5rem 2rem;
    width: 100%;
    font-size: 3rem;
    outline: none;
}

.form-group input:focus,
.form-group textarea:focus {
    box-shadow: 0px 0px 5px 5px var(--secondary-color);
}

.form-group button {
    border: 0.5rem solid var(--white-color);
    background: none;
    color: var(--white-color);
    padding: 1.5rem 2rem;
    font-size: 3rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.form-group button:hover {
    background: var(--white-color);
    color: var(--primary-color);
}

.form-group::placeholder {
    color: var(--ligth-gray-color);
}

.back-to-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background: var(--white-color);
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    align-items: center;
    transform: rotate(-90deg);
    border: 0.1rem solid var(--primary-color);
}

#footer {
    text-align: center;
    font-size: 1.8rem;
}

#footer p {
    margin: 0;
    padding: 3rem;
}

#footer a {
    color: var(--primary-color);
}

.heart {
    color: var(--secondary-color);
}

.close-menu {
    display: none;
}

.logo img {
    height: 15vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: none;
}

caption {
    color: blue;
}

.precoCremeSuco {
    color: rgba(116, 155, 56, 0.941);
}

img.carrinho {
    height: 12vh;
    width: 12vh;
    background-size: cover;
    object-fit: cover;
    display: flex;
    padding: 2vh;
}

.comprar-btn-alinhar {
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn-comprar-hbg {
    padding: 1vh;
    width: 30vh;
    cursor: pointer;
    color: black;
    text-align: center;
    background-color: rgb(238, 241, 18);
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    /* Sombra para o brilho */
}
.Bebidas-option {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 15vh;
    align-items: center;
}

.btn-comprar-hbg:hover {
    background-color: yellowgreen;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    /* Sombra maior quando passar o mouse */
}

/* Estilo do botão dropdown */
.dropbtn {
    background-color: #4CAF50;
    /* Cor de fundo */
    color: white;
    /* Cor do texto */
    padding: 16px;
    /* Espaçamento interno */
    font-size: 16px;
    /* Tamanho da fonte */
    border: none;
    /* Sem borda */
    cursor: pointer;
    /* Cursor de ponteiro */
}
#cart {
    height: 100%;
}
#total {
    color: black;
}
/* Estilo do conteúdo do dropdown (inicialmente oculto) */
.dropdown-content {
    cursor: pointer;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    padding: 12px 16px;
    display: block;
}

.show {
    display: block;
}
.produtos-carrinho p{
    margin-left: 2vh;
    font-size: 1.6rem;
}
.creme-opition {
    position: relative;
}
.dropdown-content {
    top: calc(100% + 5px);
}

/* Altera a cor dos links do dropdown ao passar o mouse */
.dropdown-content a:hover {
    background-color: #aeda9cd8;
}

/* Mostra o dropdown ao passar o mouse sobre o container */
.dropdown:hover .dropdown-content {
    display: block;
    /* Exibe o conteúdo */
}

/* Altera a cor de fundo do botão dropdown quando o conteúdo é exibido */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
    /* Cor de fundo do botão ao passar o mouse */
}

.creme-opition {
    display: flex;
    align-items: center;
    justify-content: center;
}
#cartItems {
    font-size: 1.6rem;
    list-style: none;
    padding: 1px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
#cartItems li {
    height: 20vh;
}
#cartItems button{
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

@media (max-width: 800px) {
    .intro-content,
    .grid {
        grid-template-columns: 1fr;
    }

    #refri {
        padding-top: 4rem;
        font-size: 4rem;
    }

    .gallery-img {
        width: 100%;
        max-width: 100%;
        max-height: 100%;
    }

    .gallery-img img {
        width: 100%;
        height: 100%;
    }

    .grid-one-content {
        display: block;
    }

    .menu {
        bottom: 0;
        text-align: center;
    }

    .menu-content,
    .menu-content ul {
        flex-direction: column;
        justify-content: center;
    }

    .menu-content {
        height: 100vh;
    }
    .produtos-carrinho {
        position: fixed;
    }
    .menu {
        display: none;
    }

    .close-menu-label::after {
        content: '☰';
        position: fixed;
        z-index: 2;
        top: 2rem;
        right: 2rem;
        font-size: 3rem;
        line-height: 3rem;
        width: 3rem;
        height: 3rem;
        text-align: center;
        padding: 0.5rem;
        cursor: pointer;
    }

    .close-menu:checked~.menu {
        display: block;
    }

    .close-menu:checked~.close-menu-label::after {
        content: '×';
    }
    #cartItems li {
        padding: 5px;
    }
}